# Lists
* versatile collection object 
* can store any number of any kind of Python objects
* this includes other lists
* unlike most arrays or vectors the data need not all be of the same type
* like strings lists have indexes starting at 0
* slicing behavior the same as strings

### List mutators
* methods that permanently change a list
* copy, sort, append, pop, remove, reverse, extend, clear, insert
* other method --> count, index, random.shuffle
* del --> top level function that deletes an object

In [1]:
# strange list behavior
x = [ 1, 2, 3]
y = x.copy()

In [2]:
y[0] = 10

In [3]:
y[1] * x[1]

4

In [4]:
y * 2

[10, 2, 3, 10, 2, 3]

In [5]:
y

[10, 2, 3]

In [6]:
y.extend(y)

In [7]:
y

[10, 2, 3, 10, 2, 3]

In [8]:
y += y

In [9]:
y

[10, 2, 3, 10, 2, 3, 10, 2, 3, 10, 2, 3]

In [10]:
for value in y:
    print(value ** 2)

100
4
9
100
4
9
100
4
9
100
4
9

In [11]:
[value ** 2 for value in y]

[100, 4, 9, 100, 4, 9, 100, 4, 9, 100, 4, 9]

In [12]:
y += [4]

In [13]:
y

[10, 2, 3, 10, 2, 3, 10, 2, 3, 10, 2, 3, 4]

In [14]:
y.pop()

4

In [15]:
y

[10, 2, 3, 10, 2, 3, 10, 2, 3, 10, 2, 3]

In [16]:
y.pop(0)

10

In [17]:
y.count(10)

3

In [18]:
s = set(y)

In [19]:
type(s)

set

In [20]:
y.index(2)

0

In [21]:
y

[2, 3, 10, 2, 3, 10, 2, 3, 10, 2, 3]

In [22]:
y.reverse()

In [23]:
y

[3, 2, 10, 3, 2, 10, 3, 2, 10, 3, 2]

In [24]:
y.sort()
y

[2, 2, 2, 2, 3, 3, 3, 3, 10, 10, 10]

### list comprehension
* compact syntax to create loop based list or other object (dict, tuple)
* typically used to generate lists form other lists
* all comprehension can be written as a for loop, but the inverse isn't necessarily true

In [25]:
data = [137.54, 135.37, 135.39, 136.01,136.91]

In [29]:
mean = sum(data) / len(data)
print(f"{mean:.2f}")

136.24

In [2]:
# mask

In [35]:
SS = [(x - mean) ** 2 for x in data]
var = sum(SS) / (len(data) - 1)
std = var ** .5
print(f"{std:.4f}")

0.9580

In [36]:
[ x ** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
[ x ** 2 for x in range(10) if not x%2]

[0, 4, 16, 36, 64]

In [38]:
[True if x % 2 else False for x in range(10)]

[False, True, False, True, False, True, False, True, False, True]

In [39]:
[letter for letter in "Python" if letter not in "aeiou"]

['P', 'y', 't', 'h', 'n']

In [40]:
matrix = []
for i in range(1,11):
    matrix.append([])
    for j in range(1,11):
        matrix[i-1].append(i * j)
        
matrix

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [41]:
[[i * j for i in range(1,11)] for j in range(1,11)]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

### tuples
* similar to lists but immutable

In [44]:
tup = (1,2,3)
tup

(1, 2, 3)

In [45]:
tup = 1,2,3

In [46]:
tup

(1, 2, 3)

### zip 
* used to combined items together
* results in an iterable of tuples

In [49]:
x = range(5)
y = range(5,10)

In [50]:
for combo in zip(x,y):
    print(combo)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)

In [71]:
list(zip(x,y))

[(0, 5), (1, 6), (2, 7), (3, 8), (4, 9)]

In [73]:
[(x[i], y[i]) for i in range(len(x))]

[(0, 5), (1, 6), (2, 7), (3, 8), (4, 9)]

### Write a script that produces the following output efficiently:

![](nested.png)

In [60]:
  for row in matrix:
        for column in range(len(row)):
            print(f"{row[column]:4d}", end="")
        print()

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100