# Working with JSON
* JSON is the preferred method to share data accross platforms
* Many calls to web-based service return JSON
* Dicts are very nearly JSON
* Main methods are load, loads, dump dumps

In [15]:
import json
import requests

In [2]:
accounts = {'accounts': [
    {'account': 100, 'Name' : 'Smith', 'Balance' : 24.98},
    {'account' : 200, 'Name' : 'Johnson', 'Balance' : 345.67},
    {'account' : 300, 'Name' : 'Jones', 'Balance': 0.00}]}

In [6]:
type(accounts)

dict

In [8]:
type(accounts['accounts'])

list

In [11]:
accounts['accounts'][0]

{'account': 100, 'Name': 'Smith', 'Balance': 24.98}

In [28]:
request = requests.get("http://dummyjson.com/carts").json()
type(request)

dict

In [30]:
type(request['carts'])

list

In [33]:
products = request['carts'][0]['products']

In [34]:
for product in range(len(products)):
    print(products[product])

{'id': 59, 'title': 'Spring and summershoes', 'price': 20, 'quantity': 3, 'total': 60, 'discountPercentage': 8.71, 'discountedPrice': 55}
{'id': 88, 'title': 'TC Reusable Silicone Magic Washing Gloves', 'price': 29, 'quantity': 2, 'total': 58, 'discountPercentage': 3.19, 'discountedPrice': 56}
{'id': 18, 'title': 'Oil Free Moisturizer 100ml', 'price': 40, 'quantity': 2, 'total': 80, 'discountPercentage': 13.1, 'discountedPrice': 70}
{'id': 95, 'title': 'Wholesale cargo lashing Belt', 'price': 930, 'quantity': 1, 'total': 930, 'discountPercentage': 17.67, 'discountedPrice': 766}
{'id': 39, 'title': 'Women Sweaters Wool', 'price': 600, 'quantity': 2, 'total': 1200, 'discountPercentage': 17.2, 'discountedPrice': 994}

# csv module
* Used for reading and writing to from csv files
* Works equally well for any file extension
* Works with the open function
* Unlike the open function you can write numerical data
* You have to be careful of poorly written csv, i.e. extra/missing commas
* Reserved word next reads first line for use with headers

In [5]:
import csv
import yfinance as yf

In [6]:
data = yf.download("SPY", "2022-02-02")
data.drop(columns=['Adj Close'], inplace=True)

[*********************100%***********************]  1 of 1 completed

In [41]:
data.to_csv('files/spy.csv')

In [35]:
data = []
with open('files/spy.csv', mode='r', newline='') as file:
    reader = csv.reader(file, delimiter=',')
    header = next(reader)
    for row in reader:
        row[0] = row[0][:10]
        for column in range(1,5):    
            row[column] = round(float(row[column]),2)
        row[5] = int(row[5])    
        data.append(row)
print(header)
print(data[1])

['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
['2022-02-03', 450.95, 452.97, 445.71, 446.6, 118024400]

In [7]:
data

,Open,High,Low,Close,Volume
Date,,,,,
2022-02-02 00:00:00-05:00,455.500000,458.119995,453.049988,457.350006,117361000
2022-02-03 00:00:00-05:00,450.950012,452.970001,445.709991,446.600006,118024400
2022-02-04 00:00:00-05:00,446.350006,452.779999,443.829987,448.700012,118454400
2022-02-07 00:00:00-05:00,449.510010,450.989990,445.850006,447.260010,84472900
2022-02-08 00:00:00-05:00,446.730011,451.920013,445.220001,450.940002,81012000
...,...,...,...,...,...
2023-02-21 00:00:00-05:00,403.059998,404.160004,398.820007,399.089996,82655900
2023-02-22 00:00:00-05:00,399.519989,401.130005,397.019989,398.540009,83742300
2023-02-23 00:00:00-05:00,401.559998,402.200012,396.250000,400.660004,96242400
2023-02-24 00:00:00-05:00,395.420013,397.250000,393.640015,396.380005,108145900
2023-02-27 00:00:00-05:00,395.420013,400.029999,399.079987,399.320007,7639805

### Databases

In [18]:
import sqlite3

In [20]:
connect = sqlite3.connect("files/demo.db")
cursor = connect.cursor()

In [30]:
# create table
cursor.execute("DROP TABLE IF EXISTS data")
sql = """CREATE TABLE data(

            Date text,
            Open real,
            High real,
            Low real,
            Close real,
            Volume)"""        

cursor.execute(sql)

In [31]:
data = ["2022-02-01", 450.68, 453.63, 446.94, 452.95, 123155400]
sql = """INSERT INTO data(Date, Open, High, Low, Close, Volume)
         VALUES (?,?,?,?,?,?)"""

In [32]:
cursor.execute(sql,data)

OperationalError: near "(": syntax error

In [27]:
data

['2022-02-01', 450.68, 453.63, 446.94, 452.95, 123155400]

In [33]:
sql = "SELECT * FROM data"
result = cursor.execute(sql)
result = cursor.fetchall()
connect.close()

In [34]:
print(result)

[('2022-02-01', 450.68, 453.63, 446.94, 452.95, 123155400)]

In [36]:
connect = sqlite3.connect("files/demo.db")
cursor = connect.cursor()
sql = """INSERT INTO data(Date, Open, High, Low, Close, Volume)
         VALUES (?,?,?,?,?,?)"""

cursor.executemany(sql, data)
connect.commit()
connect.close()

In [38]:
cursor.rowcount

265